//Implemented by Samuel

#root{
    -fx-background-image: url("../../image/background.jpg");
    -fx-background-position: center center;
}

#connect {
	-fx-hgap: 5;
    -fx-vgap: 5;
}

#login {
	-fx-spacing: 5;
}

#registration {
	-fx-spacing: 5;
}

#game {
	-fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10;
}

#middleGame {
	-fx-spacing: 20;
	-fx-padding: 0 0 0 128;
}

#playedCards {
	-fx-spacing: 5;
}

#nextTableCard {
	-fx-spacing: 5;
}

#newFollowerCard {
	-fx-spacing: 5;
}

#player {
	-fx-spacing: 5;
}

#otherPlayer {
	-fx-spacing: 5;
}

#TextFieldMessage {
	-fx-background-radius: 0px;
	-fx-alignment: center-left;
	-fx-focus-color: rgba(62, 132, 187, 1);
	-fx-min-width: 300px;
	-fx-padding: 0 0 0 5;
}

#ChatText {
	-fx-font-weight: bold;
}

#GameEvaluation {
	-fx-padding: 5;
	-fx-hgap: 5;
    -fx-vgap: 5;
}

#popupError {
	-fx-background-color: rgba(244, 238, 232, 1);
	-fx-hgap: 5;
    -fx-vgap: 5;
	-fx-min-width: 800px;
	-fx-min-height: 500px;
	-fx-valignment: center;
}

#textError {
  	-fx-text-fill: rgba(20, 20, 20, 1);
}

#textOver {
  	-fx-text-fill: rgba(20, 20, 20, 1);
}

.label {
	-fx-font-size: 13px;
	-fx-font-family: 'sans-serif';
  	-fx-text-fill: rgba(255, 255, 255, 1);
}

.button {
	-fx-background-color: rgba(192, 96, 20, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
	-fx-background-radius: 1px;
	-fx-min-width: 175px;
	-fx-min-height: 20px;
}

.button:hover {
	-fx-background-color: rgba(66, 70, 66, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
}

.text-field {
	-fx-background-radius: 1px;
	-fx-alignment: center;
	-fx-padding: 5 0 5 0;
	-fx-focus-color: rgba(192, 96, 20, 1);
	-fx-min-width: 175px;
	-fx-max-width: 175px;
	-fx-min-height: 20px;
}

.menu-bar {
    -fx-background-color: rgba(66, 70, 66, 1);
    -fx-alignment: center-left;
    -fx-min-height: 50px;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: rgba(83, 97, 98, 1);
    -fx-min-height: 50px;
}

.menu-item {
    -fx-background: rgba(66, 70, 66, 1);
    -fx-min-width: 200px;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgba(83, 97, 98, 1);
    -fx-min-width: 120px;
}